/*--------App--------*/
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  font-size: 2vmax;
  color: white;
}

ul {
  padding: 0px 40px;
}
/*--------Nav--------*/
.navBar {
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: .5);
  position: sticky;
  top: 0;
  width: 100%;
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
/*--------Sections--------*/
.section {
  width: 95%;
}
/*--------Bio--------*/
.bio-container {
  display: flex;
  justify-content: space-evenly;
  p {
    width: 40vmax;
  }
}

.pic {
  width: 20vmax;
  border-radius: 1000px;
}
/*--------Projects--------*/
#section2 {
  justify-content: center;
}

.projects {
  width: 100%;
}

.projectList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  li {
    width: 100%;
  }
}

.project-pic {
  width: 80%;
}
/*--------Connect--------*/
.connect {
  a {
    color: white;
  }
  a:link {
    text-decoration: none;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
}