
/*--------App--------*/
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2vmax;
  color: white;
}

.name {
  font-family: 'Inspiration', cursive;
  font-size: 20vmin;
  width: 100%;
  height: 100%;
  margin: 30vh 0 30vh 0;
}

.fadein {
  font-family: 'Inspiration', cursive;
  font-size: 20vmin;
  width: 100%;
  height: 100%;
  margin: 30vh 0 30vh 0;
  transition: opacity 1s ease;
}

.fadeout {
  font-family: 'Inspiration', cursive;
  font-size: 20vmin;
  width: 100%;
  height: 100%;
  margin: 30vh 0 30vh 0;
  opacity: 0;
  transition: opacity 1s ease;
}

ul {
  padding: 0px 30px;
}
/*--------Nav--------*/
.navBar {
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: .5);
  position: sticky;
  top: 0;
  width: 100%;
  // margin-bottom: 20vh;
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  .navList:any-link{
    cursor: pointer;
  }
}
/*--------Sections--------*/
.section {
  width: 95%;
  margin: 20vh 0;
}
/*--------Bio--------*/
#section1 {
  background-color: rgba($color: #000000, $alpha: .5);
  width: 100%;
  
}

.bio-container{
  margin: 35vh 0 35vh 0;
  align-items: center;
}

@media (min-width: 800px){
  .bio-container {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 800px){
  .bio-container {
    display: column;
  }
}

.summary {
  margin: 5vmax;
}

.pic-container{
  margin: 5vmax;
}

.pic {
  width: 20vmax;
  border-radius: 1000px;
}
/*--------Projects--------*/
#section2 {
  justify-content: center;
  h3 {
    margin-top: 100px;
  }
} 
  
@media (max-width: 800px) {
  .projectList {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    li {
      flex: 1 0 33.33%;
      padding: 5px;
      border: 2px black solid;
      margin: 2px;
    }
  }
}

@media (min-width: 800px) {
  .projectList {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    li {
      padding: 5px;
      width: 30vw;
      border: 2px black solid;
      margin: 2px;
    }
    h4 {
      font-size: 2vmin;
    }
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  h4 {
    margin: 10px 0px;
  }
  p {
    font-size: 2vw;
  }
}

.project-pic {
  border-radius: 10px;
  object-fit: cover;
  object-position: 0 100%;
  width: 20vh;
  height: 20vh;
  .project-pic:hover{
    cursor: pointer;
    object-position: 30px;
  }
}
/*--------Connect--------*/
.connect {
  a {
    color: white;
  }
  a:link {
    text-decoration: none;
  }
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24vw;
  width: 50%;
}